* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f9faef;
  --secondary-color: #fff;
  --text-color: #212121;
  --saving-color: #277c78;
  --concert-color: #626070;
  --gift-color: #82c9d7;
  --holiday-color: #826cb0;
  --laptop-color: #f2cdac;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  display: flex;
}

.side {
  width: 350px;
  transition: transform 0.3s ease;
  background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
}

.main {
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
/* Responsive styling */
/* @media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .navigation.show {
    transform: translateX(0);
  }

  .mainContent {
    margin-left: 0;
  }
} */
