.recurring .bills {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.paidBills,
.totalUpcoming,
.dueSoon {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .card2 {
    flex-direction: column;
    align-items: center;
  }

  .chart,
  .category,
  .bills div {
    width: 100%;
  }

  h2 {
    font-size: 16px;
    margin: 5px 0;
  }
}
